
{% include 'temp/temp.html'   %}
<!DOCTYPE html>
<html>
<title>Steela</title>
<meta charset="UTF-8">
<!-- leaf map için-->
<link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />

    <script
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>

<style>
#map {
    width: 100%;
    height:700px;
}

</style>
<body>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
      <div><button class="btn btn-success btn-block m-2">Personel Lokasyonları</div>
      <div id="map"></div>




</div>
</div>


</body>
<script>
    var map = L.map('map',{
    center: [	36.98989079568342, 35.32353073080311],
    zoom: 15
    });

    {% for i in workers_list%}
    
   
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);


    if(typeof {{i.latitude}} === 'number'){
        L.marker([{{i.latitude}}, {{i.longitude}}]).addTo(map)
        .bindPopup('<h1></h1><table><tr>{{i.first_name}} {{i.last_name}}</tr></table><hr>  {{i.mail}}')
        .openPopup();
        console.log({{i.latitude}}, {{i.longitude}})
    }
    {% endfor %}
</script>