{% include 'temp/temp.html'   %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">


     <header>
      <div class="collapse bg-secondary" id="navbarHeader">
        <div class="container">
          <div class="row">
               <div class="col-sm-8 col-md-7 py-4">
              
                        <div style="margin:20px">
                        <form method="post">
                        {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputEmail1">Depo ismi</label>
                                <input name="warehose_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Personel İsmi" required>
                                 </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Depo sorumlusu ismi</label>
                                <input name="user_first_name"  class="form-control" id="exampleInputPassword1" placeholder="Personel Soyİsmi" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1"> Depo sorumlusu soyismi</label>
                                <input name="user_last_name" class="form-control" id="exampleInputPassword1" placeholder="Departman" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Depo sorumlusu kullanıcı Maili</label>
                                <input name="username" type="mail" class="form-control" id="exampleInputPassword1" placeholder="Mail" required>
                            </div>
  
                          <div class="form-group">
                             <label for="exampleInputPassword1">Depo sorumlusu ismi Şifre</label>
                              <input type="password" class="form-control" name="password" placeholder="Şifre" required="required">
                          </div>
                          <div class="form-group">
                              <label for="exampleInputPassword1">Depo sorumlusu ismi Şifre tekrar</label>
                              <input type="password" class="form-control" name="confirm_password" placeholder="Şifre tekrar" required="required">
                          </div>      
                            <button name="create_warehouse" type="submit" class="btn btn-primary float-right">Depo Ekle</button>
                        </form>
                    </div>

            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
             <strong>Depo oluştur</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main>



     <div class="d-md-flex">
            <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-width: 500px; max-height: 550px;">
               
            <form method="POST">
                <div class="card-header text-center bg-primary text-white"> Depo  Listesi</div>
                          <div align="center">  
                             <input type="text" name="search" id="search" class="form-control"  placeholder="Ara"/> 

                            </div>
                            
                        <section>
                                      <div class="container">
                                                <h2 style="width:600px">Tüm Sipariş Kutuları</h2>
                                                  <div align="center">  
                                                      <input type="text" name="search" id="search" class="form-control"  placeholder="Ara"/> 
                          
                                                  </div>
                                                <div class="card">
                                                  <div class="card-body">
                                                  </div>
                                                </div>
                                                
                                                <br>
                                                  {% for i in all_warehouse%}
                                                <div class="card bg-secondary text-white">
                                                 <div class="bg-dark"><span><input style="width:20px; height:20px" type="checkbox" name="id_warehouse" value="{{i.id}}" class=" text-white"> Depo Seç</span></div>
                                                 <div class="card-header text-center">{{i.warehose_name}}</div>
                                                  <div class="card-body">
                                                 
                                                     <p><strong>Personeli :</strong> {{i.user_first_name}} {{i.user_last_name}}</p>
                                                      <p><strong>Personel Mail :</strong> {{i.username}} </p>
                                                     <p><strong>Depo id :</strong>  {{i.id}}</p>
                                                  
                                                  </div>
                                                </div>
                                                <br>
                                                    {% endfor %}


        


                               
                              

                      </section>
                                
            </div>

            <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light"  style="max-width: auto; max-height: 550px;">
                 
                       


                                  <section>

                                              
                                              
                                              <div class="container">
                                                <h2 style="width:600px">Tüm Sipariş Kutuları</h2>
                                                  <div align="center">  
                                                      <input type="text" name="search" id="search" class="form-control"  placeholder="Ara"/> 
                          
                                                  </div>
                                                <div class="card">
                                                  <div class="card-body">

                                                  
                                                  </div>
                                                </div>
                                                
                                                <br>
                                                     
           
                                                          {% for i,j in warehouse_box_dict.items %}
                                                              
                                                              <div class="card bg-primary text-white">
                                                               <div class="bg-dark"><span><input style="width:20px; height:20px" type="checkbox" name="order_box" value="{{i}}" class=" text-white"> Kutu Seç</span></div>
                                                                <h3 class="text-center"  style="color:black;">{{j.box_name}}<hr></h3>
                                                                <div class="card-body">
                                                                 <div class="container">
                                                                  <div class="row">
                                                                    <div class="col-sm">
                                                                      <p>Ürün İsmi</p><hr class="bg-white">
                                                                      {% for obj in j.product_name_list %}

                                                                                  <p>{{obj}}</p>
                                                                        {% endfor %}
                                                          
                                                                    </div>
                                                                    <hr>
                                                                    <div class="col-sm">
                                                                        <p>Ürün Adedi</p><hr class="bg-white">
                                                                        {% for obj in j.product_amount_list %}

                                                                                  <p>{{obj}}</p>
                                                                        {% endfor %}
                                                                    </div>  <hr>
                                                                  
                                                                    <div class="col-sm">
                                                                    <div class="col-sm">
                                                                        <p> Fiyat</p><hr class="bg-white">
                                                                        {% for obj in j.product_price_list %}

                                                                                  <p>{{obj}}</p>
                                                                        {% endfor %}
                                                                    </div>
                                                                    </div>
                                                                  </div>
                                                                  </div>
                                                                
                                                                 </div>
                                                                  
                                                                      {% csrf_token %}
                                                                      <input name="fatura_detaya" style="visibility:hidden" value="{{j}}" >
                                                                      <button target="_blank" name="pdf_view" type="submit" class="btn btn-success float-right m-1">Fatura Göster</button>
                                                                      <button target="_blank" name="pdf_download" type="submit" class="btn btn-success float-right m-1">Faturayı İndir</button>

                                                           
                                                </div> <br>
                                                  {% endfor %}
                                               
                                               
                                          

                                    </section>
                                
               
            </div>
    
 

      </div>
               
                            {% csrf_token %} 
                <button name="add_warehouse" type="submit" class="btn btn-info btn-block"> Yolla</button>
              </form>



    </main>


<script>



</script>


   

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
  <hr>
    <h4>STEELA</h4>
    <p class="text-center">Powered by <a href="" target="_blank">@Steela Software</a></p>
  </footer>

  <!-- End page content -->
 </div>



</div>







</body>

<script>  
      $(document).ready(function(){  
           $('#search').keyup(function(){  
                search_table($(this).val());  
           });  
           function search_table(value){  
                $('#selo div').each(function(){  
                     var found = 'false';  
                     $(this).each(function(){  
                          if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)  
                          {  
                               found = 'true';  
                          }  
                     });  
                     if(found == 'true')  
                     {  
                          $(this).show();  
                     }  
                     else  
                     {  
                          $(this).hide();  
                     }  
                });  
           }  
      });  
 </script> 
</html>